@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Open+Sans&family=Neucha&family=Amatic+SC&family=Shadows+Into+Light+Two&family=Pangolin&family=Architects+Daughter&family=Waiting+for+the+Sunrise&family=Covered+By+Your+Grace&display=swap');

@keyframes slideFromRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes expand {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes expandImage {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(90deg);
	}
	75% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}